$font-family : "Poppins";
$floral-white : #FBF7EF;
$red : #FB2335;
$grey : #B3AA94;
$black : #000c14;
$font-family : "Poppins",san-serif;

.featured-projects{
    overflow-x: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    padding: 30px 5px;
    background-color: $floral-white;
}
.more-projects{
    margin-left: 8px;
    color: $grey;
    a{
    &::after{
        content :"\2192";
        display: inline-block;
    }&:hover{
        color: $red;
    }
}
}
.featured-projects-title {
    margin-left: 18px;
    font-size: 1.1rem;
    color: $grey;
}
.featured-project-image-3{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/images/todo.png');
    width: 90%;
    margin: 20px  auto;
    color: $floral-white;
    background-size: cover;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    .about-project{
        padding: 20px;
        p{
            margin: 20px 0px;
        }
        .tech-stack{
         li{
            display: inline;
            margin-right: 5px;
            color: $floral-white;
         }
    
        }
        .links{
            padding-top: 20px;
           a{
            color: $floral-white;
           }
        }
}


}
.featured-project-image-2{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/images/esovis.png');
    width: 90%;
    margin: 20px  auto;
    color: $floral-white;
    background-size: cover;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    .about-project{
        padding: 20px;
        p{
            margin: 20px 0px;
        }
        .tech-stack{
         li{
            display: inline;
            margin-right: 5px;
            color: $floral-white;
         }
    
        }
        .links{
            padding-top: 20px;
           a{
            color: $floral-white;
           }
        }
}


}
.featured-project-image {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/images/cat.png');
    width: 90%;
    margin: 20px  auto;
    color: $floral-white;
    background-size: cover;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    .about-project{
        padding: 20px;
        p{
            margin: 20px 0px;
        }
        .tech-stack{
         li{
            display: inline;
            margin-right: 5px;
            color: $floral-white;
         }
    
        }
        .links{
            padding-top: 20px;
           a{
            color: $floral-white;
           }
        }
}
}
@media screen and (min-width: 768px){
    .featured-projects-title {
        font-size: 1.5rem;
        padding: 20px 0px;
        margin-left: 30px;
    }
    .more-projects{
        margin-top: 30px;
        a{
        margin-left: 30px;
        }
    }
    .featured-project-image,.featured-project-image-3{
        width: 50%;
        height: 200px;
        margin-top: 10%;
        margin-left: 40%;
        margin-bottom: 10%;
        .about-project{
            padding: 10px;
            background-color: $black;
            position: relative;
            right: 60%;
            width: 100%;
            height:90%;
            top: 5%;
            transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
            transform: translate(-40px);
            p{
                margin: 10px 0px;
            }
            .tech-stack{
               position: relative;
               bottom: -30%;
               padding-top: 5px;
               li{
                   color: $grey;
               }
            }
            .links{
                position: relative;
                bottom: -25%;
                    a{
                        color: $grey;
                       }
            }
        }
    }
    .featured-project-image-2{
        width: 50%;
        height: 200px;
        margin-right: 44%;
        margin-bottom: 5%;
        .about-project{
            padding: 10px;
            background-color: $grey;
            position: relative;
            left: 60%;
            width: 100%;
            height:90%;
            top: 5%;
            transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
            transform: translate(40px);
            p{
                margin: 10px 0px;
            }
            .tech-stack{
               position: relative;
               bottom: -30%;
               padding-top: 5px;
               li{
                color: $grey;
            }
            }
            .links{
                position: relative;
                bottom: -25%;
                a{
                    color: $grey;
                   }
               
            }
        }
    }
    
}
@media screen and (min-width: 1000px){
    .featured-projects-title {
        font-size: 2.5rem;
        margin-left: 60px; 
    }
    .about-project{
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
    .more-projects{
        margin-left: 32px;
        a{
            font-size: 1.2rem;
        }
    }

}
@media screen and (min-width: 1200px){
    .featured-project-image-3{
        background: url('/images/todo.png');
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 400px;
        margin-left: 45%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    .about-project{
        transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
        background-color: transparent;
        color: $black;
        width: 70%;
        position: relative;
        right: 76%;
        top: 10%;
        .tech-stack,.links{
            position: relative;
            bottom: 0;
         }
         .links{
             a:hover{
                 color: $red;
             }
         }
    }

    }
    .featured-project-image{
        background: url('/images/cat.png');
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 400px;
        margin-left: 45%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    .about-project{
        transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
        background-color: transparent;
        color: $black;
        width: 70%;
        position: relative;
        right: 76%;
        top: 10%;
        .tech-stack,.links{
            position: relative;
            bottom: 0;
         }
         .links{
            a:hover{
                color: $red;
            }
        }
    }
    
}
    .featured-project-image-2{
        background: url('/images/esovis.png');
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 400px;
        margin-left: 4%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        .about-project{
            transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
            background-color: transparent;
            color: $black;
            width: 70%;
            position: relative;
            left: 100%;
            top: 10%;
            .tech-stack,.links{
                position: relative;
                bottom: 0;
             }
             .links{
                a:hover{
                    color: $red;
                }
            }
        }
        
    }
}
@media screen and (min-width: 1440px){
    .featured-projects-title {
        font-size: 2.8rem;
        margin-left: 88px; 
    }
    .about-project{
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .more-projects{
        margin-left: 60px;
        a{
            font-size: 1.5rem;
        }
    }
    
}
