$floral-white: #fbf7ef;
$red: #fb2335;
$grey: #b3aa94;
$black: #000c14;
$font-family: "Poppins", san-serif;

nav {
  display: flex;
  background-color: $floral-white;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 50%;
  
  li {
    font-size: 1.1rem;
    font-family: $font-family;
    margin: 20px;
    padding: 30px;
  
  }
  a {
    text-decoration: none;
    color: $red;
  }
}
nav .logo a{
  color: $red;
  font-size: 1.8rem;
  font-family: $font-family;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .nav-list{
    position: fixed;
    background-color: $floral-white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 0; 
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path:circle(50px at 90% -10%);
    transition: all 1s ease-out;
    li{
      font-size: 1.8rem;
      margin: 0;
      padding: 15px;
    }
  }
  .nav-list.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path:circle(1000px at 90% -10%);

  }
  .line{
      width: 32px;
      height: 2px;
      background-color: $black;
      margin: 8px;
  }
  nav{
      position: relative;
  }
  .hamburger{
      position: absolute;
      top: 50%;
      right: 5%;
      cursor: pointer;
      transform: translate(-5%, -50%);
  }
  nav .logo a{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%,-50%);
    font-size: 2rem;
  }
}
//things to learn 
//positions
//clip path
