@import 'navbar';
@import 'about';
@import 'featuredProjects';
@import 'contact';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    $font-family : "Poppins";
    $floral-white : #FBF7EF;
    $red : #FB2335;
    $grey : #B3AA94;
    $black : #000c14;
    $font-family : "Poppins",san-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* 
We start creating for mobile then add
media queries for large screens afterwards
 */

/*  Hero section
 */
 .container {
    width: 100%;
    height: 80vh;
    background-color: $floral-white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero-intro h3{
    color: $black;
    font-family: $font-family;
    font-size: 1.2rem;
    margin-left: -50%;
    padding: 5px;
    margin-bottom: 10px;
    &::after {
      content: "";
      width: 3px;
      height: 3px;
      background-color: $red;
      display: inline-block;
      border-radius: 50%;
    }
  }
  .hero-lg-intro h2{
    font-family: $font-family;
    padding: 5px;
    color: $red;
    font-size: 1.9rem;
    line-height: 35px;
    width: 240px;
    margin-left: 8%;
    margin-bottom: 10px;
    &::after {
      content: "";
      width: 5px;
      height: 5px;
      background-color: $red;
      display: inline-block;
      border-radius: 50%;
    }
    span {
      color: $grey;
    }
  }
  .hero-text{
    width: 250px; 
    margin-bottom: 18px; 
    margin-left: 53px;
    p {
    color: rgba(0, 12, 20, 0.8);
    font-family: $font-family;
    font-size: 0.8rem;
    line-height: 18px; 
   }
  }
  .hero-btn {
    background-color: $red;
    width: 140px;
    height: 40px;
    border: 2px solid $red;
    color: $floral-white;
    text-transform: capitalize;
    font-family: $font-family;
    padding: 10px 5px;
    font-size: .8rem;
    text-align: center;
    margin-left: -60px;
  } 

/*   Hero-section media queries for large screens */
@media screen and(min-width:400px){
    .hero-text p {
        width: 250px;
    }
}
@media screen and (min-width: 425px){
    .container {
        height: 100vh;
      }
      .hero-intro h3 {
        font-size: 1.8rem;
        padding: 10px;
        margin-left: -134px;
        &::after {
          content: "";
          width: 5px;
          height: 5px;
          
        }
      }
      .hero-lg-intro h2 {
        padding: 10px;
        font-size: 2.9rem;
        line-height: 48px;
        width: 350px;
        &::after {
          content: "";
          width: 6px;
          height: 6px;
        }
      }
      .hero-text p {
        font-size: 1rem;
        padding: 15px 10px;
        line-height: 25px;
        width: 300px;
        margin-left: -48px;
      }
      .hero-btn {
        width: 180px;
        height: 50px;
        padding: 10px 5px;
        font-size: 1rem;
        margin-left: -95px;
      }
}
@media screen and (min-width: 576px){
    .container {
        height: 100vh;
      }
      .hero-intro h3 {
        font-size: 2rem;
        margin-left: -240px;
      }
      .hero-lg-intro h2 {
        font-size: 3.2rem;
        line-height: 50px;
        margin-left: -125px;
        &::after {
          content: "";
          width: 8px;
          height: 8px;
        }
      }
      .hero-text p{
        margin-left: -138px;
      }
      .hero-btn {
        width: 200px;
        height: 50px;
        font-size: 1.1rem;
        margin-left: -250px;
      }
}
@media screen and (min-width: 768px){
    .container {
        height: 100vh;
      }
      .hero-intro h3 {
        font-size: 2rem;
        margin-left: -270px;
        margin-top:30px ;
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          
        }
      }
      .hero-lg-intro h2 {
        padding: 15px 15px 0px;
        font-size: 3.5rem;
        line-height: 58px;
        width: 450px;
        margin-left: -98px;
        margin-bottom: 10px;
        &::after {
          content: "";
          width: 10px;
          height: 10px;
        }
      }
      .hero-text p {
        font-size: 1rem;
        padding: 20px 15px;
        line-height: 25px;
        width: 360px;
        margin-left: -170px;
      }
      .hero-btn {
        width: 200px;
        height: 50px;
        padding: 10px 5px;
        font-size: 1.1rem;
        margin-left: -310px;
      }
}
@media screen and (min-width: 1000px){
  .container {
      height: 100vh;
      //padding: 5px;
    }
    .hero-intro {
        h3 {
      font-size: 2rem;
      margin-left: -350px;
      margin-top: -80px;
      margin-bottom: 0px;
     }
      
      &::after {
        content: "";
        width: 6px;
        height: 6px;
        
      }
    }
    .hero-lg-intro h2 {
      padding: 0px 30px;
      font-size: 4rem;
      line-height: 70px;
      width: 500px;
      margin-left: -240px;
      margin-bottom: 0px;
      &::after {
        content: "";
        width: 13px;
        height: 13px;
      }
    }
    
    .hero-text{
        margin-left: -170px;
        padding: 0px 30px;
      p {
          font-size: .9rem;
          line-height: 22px;
        }
    }
    .hero-btn {
      width: 200px;
      height: 50px;
      font-size: 1.1rem;
      margin-left: -470px;;
    }
}
@media screen and (min-width: 1200px){
    .container {
        height: 100vh;
        //padding: 5px;
      }
      .hero-intro {
          h3 {
        font-size: 2.2rem;
        margin-left: -500px;
        margin-top: -120px;
        margin-bottom: 0px;
       }
        
        &::after {
          content: "";
          width: 7px;
          height: 7px;
          
        }
      }
      .hero-lg-intro h2 {
        padding: 0px 30px;
        font-size: 4.2rem;
        line-height: 75px;
        width: 500px;
        margin-left: -520px;
        margin-bottom: 0px;
        &::after {
          content: "";
          width: 13px;
          height: 13px;
        }
      }
      
      .hero-text{
          margin-left: -480px;
          padding: 0px 30px;
        p {
            font-size: .9rem;
            line-height: 22px;
            width: 400px;
          }
      }
      .hero-btn {
        width: 200px;
        height: 50px;
        font-size: 1.1rem;
        margin-left: -780px;;
      }
}
@media screen and (min-width: 1440px){
    .container {
        height: 100vh;
        //padding: 5px;
      }
      .hero-intro {
          h3 {
        font-size: 2.3rem;
        margin-top: -100px;
       &::after {
          content: "";
          width:10px;
          height: 10px;
          
        }
      }
    }
      .hero-lg-intro h2 {
        font-size: 5rem;
        line-height: 100px;
        width: 600px;
        margin-left: -440px;
        padding-bottom: 20px;
        &::after {
          content: "";
          width: 15px;
          height: 15px;
        }
      }
      
      .hero-text{
          margin-left: -470px;
          padding: 0px 30px;
        p {
            font-size: 1.1rem;
            line-height: 25px;
            width: 500px;
          }
      }
      .hero-btn {
        width: 240px;
        height: 60px;
        font-size: 1.3rem;
        margin-left: -735px;;
      }
}