@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbf7ef;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  width: 100%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 70%;
}

.nav-list li {
  font-size: 1.1rem;
  font-family: "Poppins", san-serif;
  margin: 20px;
  padding: 30px;
}

.nav-list a {
  text-decoration: none;
  color: #fb2335;
}

nav .logo a {
  color: #fb2335;
  font-size: 1.8rem;
  font-family: "Poppins", san-serif;
  margin-left: 20px;
}

button.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    background-color: #fbf7ef;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .nav-list li {
    font-size: 1.2rem;
    margin: 0;
    padding: 15px;
  }
  .nav-list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  nav {
    position: relative;
  }
  button.hamburger {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  nav .logo a {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    font-size: 2rem;
  }
}

/* About Section 

//remember to create a partial for this plus the hero text section first thing tomorrow
 */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 
We start creating for mobile then add
media queries for large screens afterwards
 */
/*  Hero section
 */
.container {
  width: 100%;
  height: 80vh;
  background-color: #FBF7EF;
  padding: 30px;
}

.hero-intro h3 {
  color: #000c14;
  font-family: "Poppins", san-serif;
  font-size: 1.2rem;
  padding: 5px;
}

.hero-intro h3::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #FB2335;
  display: inline-block;
  border-radius: 50%;
}

.hero-lg-intro h2 {
  font-family: "Poppins", san-serif;
  padding: 5px;
  color: #FB2335;
  font-size: 1.9rem;
  line-height: 35px;
  width: 240px;
}

.hero-lg-intro h2::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #FB2335;
  display: inline-block;
  border-radius: 50%;
}

.hero-lg-intro h2 span {
  color: #B3AA94;
}

.hero-text p {
  color: rgba(0, 12, 20, 0.8);
  font-family: "Poppins", san-serif;
  font-size: 0.8rem;
  padding: 10px 5px;
  line-height: 18px;
  width: 90%;
}

.hero-btn {
  background-color: #FB2335;
  width: 140px;
  height: 40px;
  border: 2px solid #FB2335;
  color: #FBF7EF;
  text-transform: capitalize;
  font-family: "Poppins", san-serif;
  padding: 10px 5px;
  font-size: .8rem;
  text-align: center;
  margin: 10px 5px;
}

/*   Hero-section media queries for large screens */
@media screen and (min-width: 400px) {
  .hero-text p {
    width: 70%;
  }
}

@media screen and (min-width: 425px) {
  .container {
    height: 100vh;
  }
  .hero-intro h3 {
    font-size: 1.8rem;
    padding: 10px;
  }
  .hero-intro h3::after {
    content: "";
    width: 5px;
    height: 5px;
  }
  .hero-lg-intro h2 {
    padding: 10px;
    font-size: 2.9rem;
    line-height: 48px;
    width: 350px;
  }
  .hero-lg-intro h2::after {
    content: "";
    width: 6px;
    height: 6px;
  }
  .hero-text p {
    font-size: 1rem;
    padding: 15px 10px;
    line-height: 25px;
    width: 380px;
  }
  .hero-btn {
    width: 180px;
    height: 50px;
    padding: 10px 5px;
    font-size: 1rem;
    margin: 15px 5px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    height: 100vh;
  }
  .hero-intro h3 {
    font-size: 2rem;
  }
  .hero-lg-intro h2 {
    font-size: 3.2rem;
    line-height: 50px;
  }
  .hero-lg-intro h2::after {
    content: "";
    width: 8px;
    height: 8px;
  }
  .hero-btn {
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
  .hero-intro h3 {
    font-size: 2rem;
    padding: 15px;
  }
  .hero-intro h3::after {
    content: "";
    width: 6px;
    height: 6px;
  }
  .hero-lg-intro h2 {
    padding: 15px;
    font-size: 3.5rem;
    line-height: 55px;
    width: 450px;
  }
  .hero-lg-intro h2::after {
    content: "";
    width: 10px;
    height: 10px;
  }
  .hero-text p {
    font-size: 1rem;
    padding: 20px 15px;
    line-height: 20px;
    width: 450px;
  }
  .hero-btn {
    width: 200px;
    height: 50px;
    padding: 10px 5px;
    font-size: 1.1rem;
    margin: 20px 15px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    height: 100vh;
  }
  .hero-intro {
    padding: 20px 30px 0px;
  }
  .hero-intro h3 {
    font-size: 2.2rem;
  }
  .hero-intro::after {
    content: "";
    width: 7px;
    height: 7px;
  }
  .hero-lg-intro h2 {
    padding: 0px 30px;
    font-size: 4.2rem;
    line-height: 70px;
    width: 500px;
    margin: 20px;
  }
  .hero-lg-intro h2::after {
    content: "";
    width: 11px;
    height: 11px;
  }
  .hero-text {
    margin-left: 10px;
    padding: 0px 30px;
  }
  .hero-text p {
    font-size: .9rem;
    line-height: 22px;
    width: 400px;
  }
  .hero-btn {
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    height: 100vh;
  }
  .hero-intro {
    padding: 20px 30px 0px;
  }
  .hero-intro h3 {
    font-size: 4rem;
  }
  .hero-intro::after {
    content: "";
    width: 20px;
    height: 20px;
  }
  .hero-lg-intro h2 {
    padding: 0px 30px;
    font-size: 6.5rem;
    line-height: 100px;
    width: 800px;
    margin: 20px;
  }
  .hero-lg-intro h2::after {
    content: "";
    width: 20px;
    height: 20px;
  }
  .hero-text {
    margin-left: 10px;
    padding: 0px 30px;
  }
  .hero-text p {
    font-size: 1.8rem;
    line-height: 35px;
    width: 700px;
  }
  .hero-btn {
    width: 280px;
    height: 80px;
    font-size: 2rem;
    margin-left: 50px;
  }
}
/*# sourceMappingURL=main.css.map */