@import 'navbar';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$floral-white : #FBF7EF;
$red : #FB2335;
$grey : #B3AA94;
$black : #000c14;
$font-family : "Poppins",san-serif;

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    $font-family : "Poppins";
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}